.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 992px) {
  body {
    padding-top: 3%;
  }
 }

@media (max-width: 991.98px) {
  body {
    padding-top: 40px;
  } 
}

@media (max-width: 767.98px) { 
  body {
    padding-top: 60px;
  } 
}

@media (max-width: 576px) {
  body {
    padding-top: 80px;
  }
 }

.contactsImg {
  height: 100px;
  width: 100px;
  border-radius:100%; 
  object-fit: fill;
}

button {
  margin: 10px;
  padding: 8px;
}

.navbar {
  min-height: 80px;
}
